PORT=4000
CORS_ORIGINS=http://localhost:3000
RAPIDAPI_KEY=7346057fb0mshe73a3d5e315b436p1039afjsnbffbbfc2975a
FLIPKART_RAPIDAPI_HOST=flipkart-apis.p.rapidapi.com
FLIPKART_RAPIDAPI_BASE_URL=https://flipkart-apis.p.rapidapi.com/backend/rapidapi/category-products-list
FLIPKART_RESULT_COUNT=12
FLIPKART_CURRENCY=INR
FLIPKART_RAPIDAPI_COUNTRY=IN
FLIPKART_DEFAULT_CATEGORY_ID=axc
FLIPKART_DEFAULT_PAGE=1
AMAZON_RAPIDAPI_HOST=realtime-amazon-data.p.rapidapi.com
AMAZON_RAPIDAPI_BASE_URL=https://realtime-amazon-data.p.rapidapi.com/product-search
AMAZON_DEFAULT_COUNTRY=us
AMAZON_DEFAULT_SORT=Featured
AMAZON_RESULT_COUNT=6
